<!-- Index Page Intro Section -->
<div class="container col-xxl-8 px-4 py-5">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5" id="scrollspyHeading1">
      <div class="col-10 col-sm-8 col-lg-6">
        <img src="/nice_picture_2.png" class="d-block mx-lg-auto img-fluid rounded" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
      </div>
      <div class="col-lg-6">
        <h1 class="display-5 fw-bold lh-1 mb-3">Junior Backend Developer</h1>
        <p class="lead">Hi! My name's Ivan and I'm a junior backend developer. Mainly I use Python, but also have some Ruby skills.</p>
        <div class="d-grid gap-2 d-md-flex justify-content-md-start">
          <button type="button" class="btn btn-primary btn-lg px-4" onClick="window.open('https://github.com/iamintfriend');">GitHub</button>
        </div>
        </div>
      </div>
    </div>
  </div>

<!-- Divider -->
<div class="b-example-divider"></div>

<!-- Skills Section -->
<div class="px-4 py-5 my-5 text-center" id="scrollspyHeading2">
    <h1 class="display-5 fw-bold">from high_skills import Python<br>from medium_skills import GIT<br>from low_skills import Docker</h1>
</div>

<!-- Divider -->
<div class="b-example-divider"></div>

<!-- Main Portfolio Section -->
<div class="container px-4 py-5">
    <div class="row g-4 py-5 row-cols-1 row-cols-lg-3" id="scrollspyHeading3">
      <div class="col d-flex align-items-start">
        <div class="icon-square text-bg-light d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
          <svg class="bi" width="1em" height="1em"><use xlink:href=""></use></svg>
        </div>
        <div>
          <h2>Django Website</h2>
          <p>A fully functional social-network written on Python. Users can create profiles, create and update posts, comment and subscribe to other authors or groups.</p>
          <a href="#" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">Click Me</a>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Wow! This works!</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        You can view full code of the project on my GitHub!
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

        </div>
      </div>
      <div class="col d-flex align-items-start">
        <div class="icon-square text-bg-light d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
          <svg class="bi" width="1em" height="1em"><use xlink:href=""></use></svg>
        </div>
        <div>
          <h2>Telegram Bot</h2>
          <p>An example of a Telegram Bot that greets everyone who activates it, sends requests to an API and provides new cute pictures with dogs every day!</p>
          <a href="#" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">Click Me</a>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Wow! This works!</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        You can view full code of the project on my GitHub!
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

        </div>
      </div>
      <div class="col d-flex align-items-start">
        <div class="icon-square text-bg-light d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
          <svg class="bi" width="1em" height="1em"><use xlink:href=""></use></svg>
        </div>
        <div>
          <h2>Parser</h2>
          <p>A custom script written on Python. Finds specific data from specific sources, parses and then saves it. Uses Beautifulsoup Library.</p>
          <a href="#" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">Click Me</a>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Wow! This works!</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        You can view full code of the project on my GitHub!
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

        </div>
      </div>
    </div>
  </div>

<!-- Divider -->
<div class="b-example-divider"></div>

<!-- Contacts Section -->
<div class="container col-xl-10 col-xxl-8 px-4 py-5">
    <div class="row align-items-center g-lg-5 py-5" id="scrollspyHeading4">
      <div class="col-lg-7 text-center text-lg-start">
        <h1 class="display-4 fw-bold lh-1 mb-3">def Contacts():</h1>
        <p class="col-lg-10 fs-4">If you want to contact me - please, use this amazing handmade contact form!</p>
      </div>
    <div class="col-md-10 mx-auto col-lg-5">
        <div class="mb-3">
  <label for="exampleFormControlInput1" class="form-label">print("E-mail")</label>
  <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
</div>
  <div class="mb-3">
    <label for="exampleFormControlTextarea1" class="form-label">print("Message")</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
  </div>
    <div class="d-grid gap-2 d-md-flex justify-content-md-start">
    <button type="button" class="btn btn-primary btn-lg px-4">Send</button>
    </div>
    </div>
  </div>
</div>